#__gust_time_picker_container {
    width: 140px;
    height: 152px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    border: 1px solid #dddddd;
    position: absolute;
    border-radius: 3px;
    font-family: monospace;
    background-color: #fafafa;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 99999999;
}
#__gust_time_picker_container .item{
    width: 50%;
    height: auto;
    float: left;
    padding: 10px 0;
}
#__gust_time_picker_container .item .minus,
#__gust_time_picker_container .item .raise{
    width: auto;
    height: 24px;
    margin: 0 10px;
    border: 1px solid #dddddd;
    text-align: center;
    line-height: 24px;
    color: #212121;
    background-color: #fafafa;
    transition: background 0.1s ease-in, color 0.1s ease-in;
    cursor: default;
    border-radius: 5px;
}
#__gust_time_picker_container .item .minus:hover,
#__gust_time_picker_container .item .raise:hover{
    background-color: #50B7ED;
    color: #ffffff;
}
#__gust_time_picker_container .item .minus:active,
#__gust_time_picker_container .item .raise:active{
    background-color: #0489CF;
    color: #ffffff;
}
#__gust_time_picker_container .item .value{
    width: auto;
    height: 24px;
    margin: 5px 10px;
}
#__gust_time_picker_container .item .value .text{
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    border: none;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
#__gust_time_picker_container .confirm{
    width: 120px;
    height: 28px;
    background-color: #1AA0E6;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    margin: 8px 10px;
    border-radius: 5px;
    float: left;
    font-family: "微软雅黑", "黑体", Arial, Helvetica, sans-serif;
    cursor: default;
}
#__gust_time_picker_container .confirm:hover{
    background-color: #50B7ED;
}
#__gust_time_picker_container .confirm:active{
    background-color: #0489CF;
}